<!--  Replace menu links here -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="{{link}}/index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{link}}/authors-list.html">Autores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{link}}/about.html">Sobre mim</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{site.contact}}" target="_blank" rel="noopener noreferrer">Contato</a>
  </li>
  <li class="nav-item">
    <a target="_blank" class="nav-link" href="{{site.main}}" rel="noopener noreferrer">Voltar para o site principal</a>
  </li>
</ul>
