<!-- This goes before </head> closing tag, Google Analytics can be placed here -->

<head>
  <link rel="preconnect" href="https://pagead2.googlesyndication.com">
  <link rel="preconnect" href="https://tpc.googlesyndication.com">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://stats.g.doubleclick.net">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
  <link rel="preconnect" href="https://code.jquery.com">
  <link rel="preconnect" href="https://use.fontawesome.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://leocarvalho.disqus.com">
  <link rel="preconnect" href="http://leocarvalho.disqus.com">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}} | {{site.name}}</title>

  {% seo %}

  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/{{site.icon}}">
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/{{site.icon}}">
  <meta name="msapplication-TileImage" href="{{site.baseurl}}/{{site.icon}}">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"
    media="none" onload="if(media!=='all')media='all'">

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap" rel="stylesheet" media="none"
    onload="if(media!=='all')media='all'">

  <!-- Bootstrap Modified -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Theme Stylesheet -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">

  <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

</head>