<!-- All this area goes before </body> closing tag -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://analytics.leocarvalho.dev/tracker.js" data-ackee-server="https://analytics.leocarvalho.dev" data-ackee-domain-id="b9047f6f-4e14-4864-80b5-7421db539507"></script>

<script data-ad-client="ca-pub-1577931231143329" defer
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
  const $buoop = { required: { e: -4, f: -3, o: -3, s: -1, c: -3 }, insecure: true, api: 2020.02 };
  function $buo_f() {
    const e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try { document.addEventListener("DOMContentLoaded", $buo_f, false) }
  catch (e) { window.attachEvent("onload", $buo_f) }
</script>