<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<link rel="preconnect" href="https://pagead2.googlesyndication.com">
<link rel="preconnect" href="https://tpc.googlesyndication.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://stats.g.doubleclick.net">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
<link rel="preconnect" href="https://code.jquery.com">
<link rel="preconnect" href="https://use.fontawesome.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://leocarvalho.disqus.com">
<link rel="preconnect" href="http://leocarvalho.disqus.com">